.title-wrapper img{
    width: 100px;
    margin-bottom: 20px;
    -webkit-user-drag: none;
    border-radius: 100%;
}
.title-wrapper{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 20px;
}
.panel{
    background: white;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
    width: 580px;
    height: 380px;
    border: none;
    padding-top: 60px;
    box-shadow: rgba(0, 219, 235, 0.281) 0px 1px 3px 0px, rgba(27, 35, 35, 0.336) 0px 0px 0px 1px;
}

.inp{
    width: 480px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 6px;
    border-radius: 3px;
    font-size: 15px;
    margin: 10px;
    border:1px solid black;
    transition: all 0.5s;
    transition-property: border, outline;
}
.inp:focus{
    border: 1px solid rgb(0, 140, 255);
    outline: none;
    transition: all 0.3s;
}

.select{
    width: 493px;
    padding: 5px;
    padding-left: 6px;
    margin: 10px;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:1px solid black;
    transition: all 0.5s;
    transition-property: border, outline;
}
.select:focus{
    border: 1px solid rgb(0, 140, 255);
    outline: none;
    transition: all 0.3s;
}

#submit{
    width: 480px;
    background:rgb(0, 183, 255);
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 219, 235, 0.281) 0px 1px 3px 0px, rgba(27, 35, 35, 0.336) 0px 0px 0px 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    opacity: 70%;
    transition: all 0.7s;
    transition-property: opacity;
}
#submit:hover{
    opacity: 100%;
    transition: all 0.5s;
}

.error-panel{
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.answr-panel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgb(0, 255, 179);
    width: 580px;
    padding: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    opacity: 0%;
    font-size: 18px;
    box-shadow: rgba(0, 219, 235, 0.281) 0px 1px 3px 0px, rgba(27, 35, 35, 0.336) 0px 0px 0px 1px;
}
.creds{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 17px;
    display: flex;
    justify-content: center;
    margin-left: -15px;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display: none;
  }

body{
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s; 
     -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
         animation: fadein 2s;
}

#calculator{
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0%;
    width: 0px;
    height: 0px;
}

.link{
    text-decoration: none;
    color: rgb(0, 102, 255);
    cursor:pointer;
}

.img-wrapper{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.7s;
    transition-property: content,border-radius;
}
.img-wrapper:hover{
    content: url("https://www.flaticon.com/svg/static/icons/svg/1384/1384060.svg");
    border-radius: 0%;
    transition: all 0.7s;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:rgb(0, 183, 255);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(0, 183, 255);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.steps-bool{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}








@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
